<div id="impress">
  <div id="introduction" class="step slide" data-x="-1000" data-y="-2500">
    <h1 class="headline">IDE v IDE</h1>
    <h2 class="subhead">Webstorm Takes on the World!</h2>
    <div class="author">James DiGioia</div>
    <div class="author-info">
      <ul>
        <li>jamesorodig@gmail.com</li>
        <li>@JamesDiGioia</li>
        <li>mAAdhaTTah on GitHub</li>
      </ul>
    </div>
  </div>

  <div id="overview" class="step slide" data-x="0" data-y="-2500">
    <h1 class="headline">Overview</h1>
    <ul>
      <li>Webstorm</li>
      <li>Sublime Text 3</li>
      <li>Aptana Studio</li>
      <li>Atom</li>
      <li>Other Editors</li>
    </ul>
  </div>

  <div id="aboutme" class="step slide" data-x="1000" data-y="-2500">
    <h1 class="headline">Disclaimers</h1>
    <h2 class="subhead">AKA About Me</h2>
    <ul>
      <li>4 years in Social Media &amp; Digital Marketing</li>
      <li>Self-taught web development over past 2 years</li>
      <li>WordPress + PHP</li>
      <ul>
        <li>WP-Gistpen: Gist Clone for Code Snippets</li>
        <li>WP-Github-Sync: Publish posts to GitHub</li>
      </ul>
      <li>JavaScript + Node (more recent)</li>
      <ul>
        <li>DeveldoGTD:  GTD-Based Developer's Todo List App</li>
      </ul>
      <li>Most work has been solo</li>
    </ul>
  </div>

  <div id="confession" class="step slide" data-x="2000" data-y="-2500">
    <h1 class="headline">Disclaimers</h1>
    <img src="images/Coding_Confessional.png" alt="i-never-use-webstorm">
  </div>

  <div id="get-started" class="step slide" data-x="3000" data-y="-2500">
    <h1 class="headline">Let's Get Started!</h1>
  </div>

  <div id="webstorm-overview" class="step slide" data-x="-1000" data-y="-1500">
    <h1 class="headline">Webstorm</h1>
    <h2 class="subhead">What is it?</h2>
    <ul>
      <li>WebStorm is a lightweight yet powerful IDE, perfectly equipped for complex client-side development and server-side development with Node.js.</li>
    </ul>
  </div>

  <div id="webstorm-features" class="step slide" data-x="0" data-y="-1500">
    <h1 class="headline">Webstorm</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>JavaScript Editor</li>
      <ul>
        <li>Intelligent Code Completion</li>
        <li>Code Inspection and Quick-fix Options</li>
        <li>Code Navigation and Usages Search</li>
        <li>Code Refactoring</li>
      </ul>
      <li>Debugging and Testing</li>
      <ul>
        <li>Powerful JavaScript Debugger</li>
        <li>JavaScript Unit Testing</li>
        <li>Node.js Debugger</li>
      </ul>
    </ul>
  </div>

  <div id="webstorm-features2" class="step slide" data-x="1000" data-y="-1500">
    <h1 class="headline">Webstorm</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Additional Languages</li>
      <ul>
        <li>TypeScript</li>
        <li>CoffeeScript (booo!)</li>
        <li>Dart</li>
        <li>ECMAScript Harmony</li>
      </ul>
      <li>HTML5 + CSS3 Support</li>
      <ul>
        <li>SASS</li>
        <li>LESS</li>
        <li>Stylus</li>
      </ul>
    </ul>
  </div>

  <div id="webstorm-pros" class="step slide" data-x="2000" data-y="-1500">
    <h1 class="headline">Webstorm</h1>
    <h2 class="subhead">What makes it awesome</h2>
    <ul>
      <li><i>Actual</i> IDE</li>
      <ul>
        <li>Reads and <i>understands</i> code</li>
        <li>Static Analysis</li>
        <li>Typehints project and library functions</li>
      </ul>
      <li>Debugging support is incredible</li>
      <li>Auto-aligns code</li>
      <ul>
        <li>JSCS, JSHint, JSLint support</li>
        <li>Will align code according to your defined standards</li>
      </ul>
      <li>Built-in terminal</li>
      <li>Integrated git support</li>
      <li>Integrated @todo support</li>
      <li>Plugins!</li>
    </ul>
  </div>

  <div id="webstorm-cons" class="step slide" data-x="3000" data-y="-1500">
    <h1 class="headline">Webstorm</h1>
    <h2 class="subhead">What makes it terrible</h2>
    <ul>
      <li>Sloooooooow</li>
      <ul>
        <li>Java-based</li>
        <li>Which means you have to install Java (booo!)</li>
      </ul>
      <li>Thinks it knows everything</li>
      <ul>
        <li>If alignment is wrong, ruins your code constantly</li>
        <li>"False positives" can be very distracting</li>
      </ul>
      <li>Can be complicated to configure and setup</li>
      <ul>
        <li>Haven't gotten Node debugging set up yet</li>
        <li>Lots of settings/fields</li>
        <li>Feel like I've barely scratch the surface</li>
      </ul>
      <li>Front-end Devs can't build plugins</li>
      <ul>
        <li>Requires Java language + development environment</li>
      </ul>
    </ul>
  </div>

  <div id="st3-overview" class="step slide" data-x="-1000" data-y="-500">
    <h1 class="headline">Sublime Text 3</h1>
    <h2 class="subhead">What is it?</h2>
    <ul>
      <li>Sublime Text is a sophisticated text editor for code, markup and prose.</li>
    </ul>
  </div>

  <div id="st3-features" class="step slide" data-x="0" data-y="-500">
    <h1 class="headline">Sublime Text 3</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Goto Anything</li>
      <ul>
        <li>Triggered with ⌘P</li>
        <li>Type part of a file name to open it.</li>
        <li>Type @ to jump to symbols, # to search within the file, : to go to a line number</li>
      </ul>
      <li>Multiple Selections</li>
      <ul>
        <li>⌘D to select next occurance of word</li>
        <li>Column selection with <kbd>alt</kbd></li>
      </ul>
      <li>Distraction Free Mode</li>
      <li>Split Editing</li>
    </ul>
  </div>

  <div id="st3-features2" class="step slide" data-x="1000" data-y="-500">
    <h1 class="headline">Sublime Text 3</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Command Palette</li>
      <li>Plugin API</li>
      <ul>
        <li>Python-based</li>
        <li>Interactive console</li>
      </ul>
      <li>Customize Anything</li>
      <ul>
        <li>All in simple JSON files</li>
        <li>Per-file, per-project, per-syntax basis</li>
        <li>Plugins have their own config</li>
      </ul>
      <li>Cross Platform</li>
    </ul>
  </div>

  <div id="st3-pros" class="step slide" data-x="2000" data-y="-500">
    <h1 class="headline">Sublime Text 3</h1>
    <h2 class="subhead">What makes it awesome</h2>
    <ul>
      <li><i>Very</i> fast</li>
      <li>Plugins! (again!)</li>
      <ul>
        <li>Likely more accessible with a Python (3!) API</li>
        <li>Large ecosystem</li>
      </ul>
      <li>Configuration is syncable with Dropbox</li>
      <ul>
        <li>It's all just JSON files</li>
        <li>Packages also syncable, new ones downloaded on open</li>
      </ul>
      <li>Support a lot of languages</li>
      <ul>
        <li>Additional languages available as plugins (i.e. Handlebars)</li>
      </ul>
    </ul>
  </div>

  <div id="st3-cons" class="step slide" data-x="3000" data-y="-500">
    <h1 class="headline">Sublime Text 3</h1>
    <h2 class="subhead">What makes it terrible</h2>
    <ul>
      <li>Just a text-editor</li>
      <ul>
        <li>You will never get the kind of static analysis or debugging available in a full-fledged IDE</li>
        <li>Have to rely on other tools for debugging</li>
        <li>Makes this a small list, but this is a big weakness compared to Webstorm</li>
      </ul>
      <li>Technically still in beta</li>
      <ul>
        <li>Has been for a long time, strangely enough</li>
        <li>Very stable, very public, but still beta</li>
      </ul>
    </ul>
  </div>

  <div id="aptana-overview" class="step slide" data-x="-1000" data-y="500">
    <h1 class="headline">Aptana Studio</h1>
    <h2 class="subhead">What is it?</h2>
    <ul>
      <li>Build web applications quickly and easily using the industry’s leading web application IDE. Aptana Studio harnesses the flexibility of Eclipse and focuses it into a powerful web development engine.</li>
    </ul>
  </div>

  <div id="aptana-features" class="step slide" data-x="0" data-y="500">
    <h1 class="headline">Aptana Studio</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>HTML, CSS, and JavaScript Code Assist</li>
      <ul>
        <li>Aids in authoring of HTML, CSS, JavaScript, PHP, and Ruby.</li>
      </ul>
      <li>Deployment Wizard</li>
      <ul>
        <li>Support for one-shot as well as keep-synchronized setups.</li>
        <li>Supports FTP, SFTP, FTPS, and Capistrano</li>
      </ul>
      <li>Integrated Debugger</li>
      <ul>
        <li>Set breakpoints, inspect variables, control execution</li>
        <li>Support JavaScript and Ruby</li>
      </ul>
    </ul>
  </div>

  <div id="aptana-features2" class="step slide" data-x="1000" data-y="500">
    <h1 class="headline">Aptana Studio</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Git Integration</li>
      <ul>
        <li>Easily pull your projects under source code control</li>
        <li>Collaborate with team members through merge, pull and push actions</li>
      </ul>
      <li>Built-in Terminal</li>
      <ul>
        <li>Quick access a command line terminal for execution of operating system commands</li>
      </ul>
      <li>IDE Customization</li>
      <ul>
        <li>Setup your development environment exactly the way you want it by extending the core capabilities through scripting of custom commands</li>
      </ul>
    </ul>
  </div>

  <div id="aptana-pros" class="step slide" data-x="2000" data-y="500">
    <h1 class="headline">Aptana Studio</h1>
    <h2 class="subhead">What makes it awesome</h2>
    <ul>
      <li>Open-source</li>
      <ul>
        <li>You can contibute to development</li>
      </ul>
      <li>Deeper support for more languages</li>
      <ul>
        <li>Ruby + PHP support is not shabby</li>
      </ul>
      <li>Supports all the Eclipse plugins, so builds in a wide ecosystem by default</li>
      <li>Solid set of windows to provide a "birds of eye" of both the file &amp; project</li>
    </ul>
  </div>

  <div id="aptana-cons" class="step slide" data-x="3000" data-y="500">
    <h1 class="headline">Aptana Studio</h1>
    <h2 class="subhead">What makes it terrible</h2>
    <ul>
      <li>Also Java-based, also slow to boot</li>
      <ul>
        <li>Not as slow as Webstorm, but still slow to startup</li>
      </ul>
      <li>No command line integration</li>
      <ul>
        <li>All the other editors can open projects from the command line</li>
      </ul>
      <li>Takes a lot of customization to work my way</li>
    </ul>
  </div>

  <div id="atom-overview" class="step slide" data-x="-1000" data-y="1500">
    <h1 class="headline">Atom</h1>
    <h2 class="subhead">What is it?</h2>
    <ul>
      <li>A hackable text editor for the 21st Century</li>
    </ul>
  </div>

  <div id="atom-features" class="step slide" data-x="0" data-y="1500">
    <h1 class="headline">Atom</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Taking the Web Native</li>
      <ul>
        <li>Desktop application based on web technologies</li>
        <li>Full dev tools built into the editor</li>
      </ul>
      <li>Node.js Integration</li>
      <ul>
        <li>Access the filesystem, spawn subprocesses, start servers, all within your editor</li>
        <li>Access to Node's package repository, or call into C or C++</li>
        <li>Integration with Node and browser APIs</li>
      </ul>
      <li>Modular Design</li>
      <ul>
        <li>Composed of 50 open-source packages integrated around minimal core</li>
        <li>Can replace parts with your own and share</li>
      </ul>
    </ul>
  </div>

  <div id="atom-features2" class="step slide" data-x="1000" data-y="1500">
    <h1 class="headline">Atom</h1>
    <h2 class="subhead">Features</h2>
    <ul>
      <li>Full-featured, right out of the box</li>
      <ul>
        <li>Don't waste time configuring your editor</li>
        <ul>
          <li>File system browser</li>
          <li>Fuzzy finder for quickly opening files</li>
          <li>Fast project-wide search and replace</li>
          <li>Multiple cursors and selections</li>
          <li>Multiple panes</li>
          <li>Snippets</li>
          <li>Code folding</li>
          <li>A clean preferences UI</li>
          <li>Import TextMate grammars and themes</li>
        </ul>
      </ul>
    </ul>
  </div>

  <div id="atom-pros" class="step slide" data-x="2000" data-y="1500">
    <h1 class="headline">Atom</h1>
    <h2 class="subhead">What makes it awesome</h2>
    <ul>
      <li>Built on the same technologies we use every day</li>
      <ul>
        <li>Node-webkit (NW.js now) app: All Javascript and DOM</li>
        <li>Going to be much easier for web developers to build plugins in "native tongue"</li>
      </ul>
      <li>Large, vibrant plugin ecosystem</li>
      <ul>
        <li>All of which are installable via a command-line tool</li>
        <li>CLI tool to open projects, just like ST3 + Webstorm</li>
      </ul>
      <li>Open-source again</li>
      <ul>
        <li>Incredibly hackable, incredibly flexible</li>
      </ul>
      <li>Generally very "Sublime-y"</li>
    </ul>
  </div>

  <div id="atom-cons" class="step slide" data-x="3000" data-y="1500">
    <h1 class="headline">Atom</h1>
    <h2 class="subhead">What makes it terrible</h2>
    <ul>
      <li>Also "just" a text editor</li>
      <li>Resource hog</li>
      <ul>
        <li>Node-webkit apps are not known for their RAM efficiency</li>
      </ul>
      <li>Still relatively new, so the ecosystem is smaller v ST3</li>
      <ul>
        <li>Couldn't even find a twilight theme :(</li>
      </ul>
    </ul>
  </div>

  <div id="other" class="step slide" data-x="-1000" data-y="2500">
    <h1 class="headline">Other Editors</h1>
    <h2 class="subhead">Runners-Up</h2>
    <ul>
      <li>Brackets</li>
      <li>Komodo IDE</li>
      <ul>
        <li>Komodo Edit - Free OS Version</li>
      </ul>
      <li>Netbeans</li>
      <li>Notepad++</li>
      <li>Nide</li>
      <li>Cloud9</li>
      <li>Koding</li>
    </ul>
  </div>

  <div id="closing" class="step slide" data-x="0" data-y="2500">
    <h1 class="headline">Closing</h1>
    <h2 class="subhead">Share Your Tips!</h2>
    <a href="http://www.commitstrip.com/en/2014/03/05/what-you-would-never-admin/">Comic</a>
  </div>
</div>
<script type="text/javascript" src="vendor/impress.js/js/impress.js"></script>
<script>impress().init();</script>
